In [23]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

In [2]:
data = pd.read_csv('./Data/grad_demo_fin.csv')

In [3]:
data

,grad_rate,TOTAL,ECONOMICALLY_DISADVANTAGED,FEMALE,H_Female,AA_FEMALE,W_FEMALE,MALE,AA_MALE,W_MALE,H_MALE,AA,H,W,Expend_per_pupil
0,0.96,1075,0.247442,0.482791,0.008372,0.002791,0.465116,0.517209,0.007442,0.500465,0.001860,0.010233,0.010233,0.965581,9171.37
1,0.95,1120,0.339286,0.451786,0.010714,0.020536,0.409821,0.548214,0.019643,0.505357,0.016071,0.040179,0.026786,0.915179,9523.76
2,0.92,1406,0.199858,0.491465,0.044097,0.070413,0.351351,0.508535,0.085349,0.346373,0.046942,0.155761,0.091038,0.697724,12546.31
3,0.98,481,0.193347,0.442827,0.037422,0.016632,0.382536,0.557173,0.027027,0.482328,0.037422,0.043659,0.074844,0.864865,9106.97
4,0.89,1506,0.371846,0.490704,0.169323,0.086321,0.228420,0.509296,0.083001,0.255644,0.160691,0.169323,0.330013,0.484064,7418.07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262,0.94,1895,0.247493,0.486016,0.058575,0.078100,0.335620,0.513984,0.079683,0.362005,0.063852,0.157784,0.122427,0.697625,7842.51
263,0.97,2220,0.071171,0.487838,0.018018,0.044595,0.407207,0.512162,0.050450,0.420270,0.024775,0.095045,0.042793,0.827477,7519.21
264,0.96,571,0.185639,0.460595,0.005254,0.021016,0.432574,0.539405,0.035026,0.476357,0.021016,0.056042,0.026270,0.908932,10360.40
265,0.97,1935,0.109044,0.473902,0.027390,0.050646,0.375711,0.526098,0.047028,0.430491,0.033592,0.097674,0.060982,0.806202,7995.72
266,0.94,75,0.120000,0.666667,0.026667,0.013333,0.600000,0.333333,0.013333,0.293333,0.013333,0.026667,0.040000,0.893333,20049.13

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 267 entries, 0 to 266
Data columns (total 15 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   grad_rate                   267 non-null    float64
 1   TOTAL                       267 non-null    int64
 2   ECONOMICALLY_DISADVANTAGED  267 non-null    float64
 3   FEMALE                      267 non-null    float64
 4   H_Female                    267 non-null    float64
 5   AA_FEMALE                   267 non-null    float64
 6   W_FEMALE                    267 non-null    float64
 7   MALE                        267 non-null    float64
 8   AA_MALE                     267 non-null    float64
 9   W_MALE                      267 non-null    float64
 10  H_MALE                      267 non-null    float64
 11  AA                          267 non-null    float64
 12  H                           267 non-null    float64
 13  W                           267 non-null    float64
 14  Expend_per_pupil            267 non-null    float64
dtypes: float64(14), int64(1)
memory usage: 31.4 KB

In [11]:
scaler = StandardScaler()

In [20]:
scaled_data = scaler.fit_transform(data)
scaled_data = pd.DataFrame(scaled_data, columns=data.columns)
scaled_data

,grad_rate,TOTAL,ECONOMICALLY_DISADVANTAGED,FEMALE,H_Female,AA_FEMALE,W_FEMALE,MALE,AA_MALE,W_MALE,H_MALE,AA,H,W,Expend_per_pupil
0,0.647137,0.233277,-0.340444,-0.129735,-0.810652,-0.749432,0.881421,0.129735,-0.731183,0.939311,-1.003977,-0.743636,-0.922150,0.926043,-0.247486
1,0.496101,0.315421,0.295084,-1.108106,-0.742734,-0.610572,0.488740,1.108106,-0.632984,0.972940,-0.629554,-0.624308,-0.691083,0.747043,-0.077559
2,0.042992,0.837490,-0.669709,0.143990,0.225286,-0.220271,0.073510,-0.143990,-0.104159,-0.119980,0.183801,-0.163735,0.205828,-0.025222,1.379947
3,0.949210,-0.851020,-0.714760,-1.390787,0.031734,-0.641120,0.294973,1.390787,-0.573553,0.814632,-0.067018,-0.610439,-0.020230,0.568360,-0.278540
4,-0.410118,1.020031,0.520390,0.119967,3.856570,-0.095779,-0.799500,-0.119967,-0.123050,-0.743684,3.180804,-0.109695,3.541708,-0.784013,-1.092946
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262,0.345064,1.730118,-0.340087,-0.027965,0.645130,-0.160112,-0.038207,0.027965,-0.149754,-0.012516,0.629353,-0.155676,0.643992,-0.025573,-0.888277
263,0.798174,2.323378,-1.560176,0.029529,-0.530941,-0.422304,0.470175,-0.029529,-0.385032,0.388020,-0.400242,-0.405676,-0.467638,0.435583,-1.044175
264,0.647137,-0.686732,-0.768097,-0.830113,-0.901072,-0.606816,0.650322,0.830113,-0.509172,0.773584,-0.499283,-0.561095,-0.698286,0.724858,0.325878
265,0.798174,1.803135,-1.298110,-0.410226,-0.259168,-0.374950,0.246499,0.410226,-0.412574,0.458281,-0.167937,-0.395199,-0.213734,0.360024,-0.814397
266,0.345064,-1.592139,-1.222298,5.672525,-0.280149,-0.666933,1.839309,-5.672525,-0.683766,-0.484593,-0.701696,-0.678150,-0.506623,0.669462,4.997889